form {
  display: grid;
  justify-content: center;
  background-color:  cadetblue ;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
}

div {
    padding: 40px 95px 0px 180px;
    background-color: bisque;
    color: aliceblue;
    font-size: 20px;
    font-family: cursive;
}

input {
  padding: 10px;
  border-radius: 20px;
  border: black;
}

select {
  padding: 10px;
  border-radius: 20px;
  border: black;
}

button {
  padding: 15px;
  margin-top: 10px;
  border-radius: 20px;
  border-color: black;
  font-size: 20px;
  color: cadetblue;
}

p {
  color: red;
}

th {
  border: 3px solid rgb(56, 5, 5);
}

td {
  border: solid;
}

.edit {
  color: black;
  padding: 8px;
  background: beige;
  border-radius: 20px;
}